*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
body{
  background-color: #f7f5f2;
}
/* navbar */
.navbar-bg{
  background-color: #b2744c;
}
.navbar-brand img{
  width: 80px;
}
.nav-item .nav-link:hover{
  background: #f7f5f2;
  border-radius: 5px;
  color: black !important;
}
/* navbar */
/* home content */
.position-absolute h3{
  font-size: 50px;
  color: white;
}
.position-relative{
  height: 500px;
}
#btn{
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
#btn:hover{
  background: #b2744c;
  color: white;
}
/* home content */
/* about */
.about-btn button{
  border: 2px solid #b2744c;
  color: #b2744c;
}
.about-btn button:hover{
  background: #b2744c;
  color: white;
}
/* about */

.span-color {
  color: #b2744c !important;
}
.card-body{
  color: #b2744c !important;
}
/* Contact */
.contact{
    background:#f8f9fa;
}
.heading6{
    font-size:40px;
    font-weight:bold;
}
.card-body h6{
color: #b2744c !important;
}
.form-control{
    height:45px;
}
.color-btn{
  background: #b2744c !important;
  color: white !important;
  padding: 5px 100px !important;
}
.info-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}
.info-box h1{
    margin-bottom:25px;
}
.info-box i{
    color:#ffc107;
    margin-right:10px;
}
.info-box i{
  color: #b2744c !important;
}
/* Contact */



/* footer */
.footer-section{
  padding-top: 5rem;
  padding-bottom: 1rem;
  background: #b2744c !important;
  color: #fff;
}
.list-unstyled li a{
  text-decoration: none;
 color: #fff;
}
.list-unstyled li a:hover{
  color: rgb(202, 40, 40);
}
/* footer */