<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-bg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" alt="logo">
      </a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white px-3" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#gallary">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-3" href="#blogs">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar -->

   <!------Start Slider------>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="position-relative">
          <img src="{% static 'images/bc3.png' %}" class="w-100 h-100 object-fit-cover" alt="Slide Image">
          <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5">
            <h3>Start Your Day With a <br> Fresh Coffee</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit
              <br>ipsum dolor sit amet consectetur.
            </p>
            <button id="btn">Shop Now</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative">
          <img src="{% static 'images/coffee1.jpg' %}" class="w-100 h-100 object-fit-cover" alt="Slide Image">
          <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5">
            <h3>Start Your Day With a <br> Fresh Coffee</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit
              <br>ipsum dolor sit amet consectetur.
            </p>
            <button id="btn">Shop Now</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative">
          <img src="{% static 'images/coffee2.jpg' %}" class="w-100 h-100 object-fit-cover" alt="Slide Image">
          <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5">
            <h3>Start Your Day With a <br> Fresh Coffee</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit
              <br>ipsum dolor sit amet consectetur.
            </p>
            <button id="btn">Shop Now</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative">
          <img src="{% static 'images/coffee3.jpg' %}" class="w-100 h-100 object-fit-cover" alt="Slide Image">
          <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5">
            <h3>Start Your Day With a <br> Fresh Coffee</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit
              <br>ipsum dolor sit amet consectetur.
            </p>
            <button id="btn">Shop Now</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="position-relative">
          <img src="{% static 'images/coffee4.jpg' %}" class="w-100 h-100 object-fit-cover" alt="Slide Image">
          <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5">
            <h3>Start Your Day With a <br> Fresh Coffee</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit
              <br>ipsum dolor sit amet consectetur.
            </p>
            <button id="btn">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------End Slider------>

<!-- About Section -->
<div class="container py-5" id="about">
  <h1 class="text-center mb-5"> About <span class="span-color">Us</span></h1>
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="{% static 'images/about.png' %}" class="img-fluid rounded" alt="about">
    </div>
    <div class="col-md-6 about-btn">
      <h3 class="mb-3"> What Makes Our Coffee Special? </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum minima numquam porro consequuntur ipsum, nulla aliquam amet quam consequatur expedita.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus dicta quia maxime! Suscipit rerum similique non perferendis maiores rem, cumque explicabo exercitationem deserunt illum in aperiam natus impedit recusandae?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem voluptates harum, quis excepturi voluptatum!</p>
      <button class="btn  px-5"> Learn More </button>
    </div>
  </div>
</div>
<!-- about section -->

<!-- top cards -->
<section class="top-cards">
  <h1 class="text-center mb-5"> Top <span class="span-color">Categories</span></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="{% static "images/c1.png" %}" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="{% static "images/c2.png" %}" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="{% static "images/c3.png" %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- top cards -->




<!-- Menu Section -->

<section class="py-5" id="menu">
  <div class="container">
    <h2 class="text-center mb-5 span-color"> Menu</h2>
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/m1.png' %}" class="card-img-top" alt="Coffee">
          <div class="card-body">
            <div class="mb-2">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <h5 class="card-title">Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/m2.png' %}" class="card-img-top" alt="Coffee">
          <div class="card-body">
            <div class="mb-2">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <h5 class="card-title">Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/m3.png' %}" class="card-img-top" alt="Coffee">
          <div class="card-body">
            <div class="mb-2">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <h5 class="card-title">Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/m4.png' %}" class="card-img-top" alt="Coffee">
          <div class="card-body">
            <div class="mb-2">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <h5 class="card-title">Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- menu -->

<!-- Product Section -->
<section class="py-5" id="product">
  <div class="container">
    <h2 class="text-center mb-5 span-color">Products</h2>
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/arabica coffee.png' %}" class="card-img-top" alt="Arabic Coffee">
          <div class="card-body">
            <h5 class="card-title">Arabic Coffee</h5>
              <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/Cappuccino coffee.png' %}" class="card-img-top" alt="Cappuccino Coffee">
          <div class="card-body">
            <h5 class="card-title">Cappuccino Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$250 <del>$350</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/Black Coffee.png' %}" class="card-img-top" alt="Black Coffee">
          <div class="card-body">
            <h5 class="card-title">Black Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$130 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card h-100 text-center">
          <img src="{% static 'images/Decaf caffee.png' %}" class="card-img-top" alt="Decaf Coffee">
          <div class="card-body ">
            <h5 class="card-title">Decaf Coffee</h5>
            <div class="mt-4 d-flex justify-content-around">
              <p class="mb-0">$120 <del>$150</del></p>
              <p><span class="ms-2"><i class="fa-solid fa-cart-shopping"></i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product -->

<!-- Gallery Section -->
<section class="py-5" id="gallary">
  <div class="container">
    <h2 class="text-center mb-5">Our <span class="span-color">Gallery</span></h2>
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image1.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image2.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image3.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image4.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image5.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="{% static 'images/image6.png' %}" class="card-img-top" alt="Gallery Image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our gallary -->

<!-- Contact Section -->
<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <h2 class="heading6">Contact <span class="span-color">Us</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, blanditiis<br>ipsum dolor sit amet consectetur.</p>
        <input type="text" class="form-control mb-3" placeholder="Name">
        <input type="email" class="form-control mb-3" placeholder="Email">
        <input type="number" class="form-control mb-3" placeholder="Number">
        <button class="btn contact-btn color-btn">Send Message</button>
      </div>

      <div class="col-md-5 mt-4 mt-md-0">
        <div class="info-box">
          <h1>Info</h1>
          <p><i class="fa-regular fa-envelope"></i>sharifmahmud8833@gmail.com</p>
          <p><i class="fa-solid fa-phone"></i>+8801518350599</p>
          <p><i class="fa-solid fa-building-columns"></i>Dhaka, Bangladesh</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, culpa.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact -->
<!-- Blogs Section -->
<section class="py-5" id="blogs">
  <div class="container">
    <h1 class="text-center mb-5">Latest <span class="span-color">Blogs</span></h1>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="{% static 'images/b1.png' %}" class="card-img-top" alt="Blog">
          <div class="card-body">
            <h3 class="card-title text-black">Lorem, ipsum dolor</h3>
            <h6 class="">Admin / 6 March 2020</h6>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis aperiam magnam nostrum quae distinctio.</p>
            <button class="btn color-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <img src="{% static 'images/b2.png' %}" class="card-img-top" alt="Blog">
          <div class="card-body">
            <h3 class="card-title text-black">Lorem, ipsum dolor</h3>
            <h6 class=""> Admin / 6 March 2020</h6>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis aperiam magnam nostrum quae distinctio.</p>
            <button class="btn color-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <img src="{% static 'images/b3.png' %}" class="card-img-top" alt="Blog">
          <div class="card-body">
            <h3 class="card-title text-black">Lorem, ipsum dolor</h3>
            <h6 class="">Admin / 6 March 2020</h6>
            <p class="text-black"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis aperiam magnam nostrum quae distinctio.</p>
            <button class="btn color-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
   <!-- blogs -->

   <!-- footer -->
		<footer class="footer-section">
			<div class="container-fluid px-md-5">
				<div class="row mb-5">
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Coffee</h2>
							<p>Embark on a gastronomic journey with Coffee, where every bite tells a story and every dish is crafted to perfection.</p>
							<ul class="ftco-footer-social list-unstyled mt-5">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md">
						<div class="ftco-footer-widget mb-4 ml-md-4">
							<h2 class="ftco-heading-2">Product</h2>
							<ul class="list-unstyled">
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Menu</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Specials</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Meal Deals</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Catering Options</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Seasonal Offerings</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md">
						<div class="ftco-footer-widget mb-4 ml-md-4">
							<h2 class="ftco-heading-2">Information</h2>
							<ul class="list-unstyled">
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact Us</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Nutrition Information</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Allergen Information</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Company</h2>
							<ul class="list-unstyled">
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Our Story</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Careers</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Terms of Service</a></li>
								<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
   <!-- footer -->

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>